@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to my App</h1>
    <p>See more on <a href="https://github.com/StefanKnezic">my github profile</a>.</p>

    <p>I didn't pay much attention to the frontend as the primary focus of this application is on its logic and functionality. :)</p>
</div>
